.norm-class{
    background-color: pink;
}
#num2{
    font-size: 25px;
    color: blue;
    font-weight: bold;
}
#cooler{
    font-size: 23px;
    font-weight: bold;
}
#another-id{
    background-color: greenyellow;
    font-weight: bolder;
    font-size: 20px;
}